/* Calendari°° PHP
	Styles CSS
	Problem Y2K38 solved!
	arnAu bellavista
	@sacaix
	kipple.net
*/
.calendari{
	color: #666666;
	font-size: 15px;
	background-color: transparent;
	border-collapse: separate;
	border-spacing: 4px; /* Separació entre cel·les */
	border: 0 solid #666666;
}

.calendari th, .calendari td{
	border: 0 solid #666666;
	width: 28px;
	height: 28px;
	padding: 0;
	display: table-cell;
	vertical-align: inherit;
	font-weight: normal;
	text-align: center;
}
.calendari td a{
    width: 100%;
    height: 100%;
    display: block;
}
.calendari td a:link{ color: #666666; text-decoration: none; }
.calendari td a:visited{ color: #666666; text-decoration: none; }
.calendari td a:active{ background-color: #cccc00; text-decoration: none; }
.calendari td a:hover{ background-color: #cccc00; text-decoration: none; }

.fletxes{
	position: float;
	display: inline;
}
	.fletxes a:link{ color: #666666; text-decoration: none; }
	.fletxes a:visited{ color: #666666; text-decoration: none; }
	.fletxes a:active{ color: #cccc00; text-decoration: none; }
	.fletxes a:hover{ color: #cccc00; text-decoration: none; }
.anterior{ float: left; }
.anterior a{ margin-right: 6px; padding: 0 2px; }
.posterior{ float: right; }
.posterior a{ margin-left: 6px; padding: 0 2px; }

.navegacio{ background-color:transparent; }
.dies_setmana{ background-color:transparent; }

.no_dia{ background-color: #ffffff; }
.avui, .avui a{ color: #ffffff !important; background-color: #999999; }
.dia{ color: #666666; background-color: #e2e2e2; }
.es_dissabte{ color: #666666; background-color: #cccccc; }
.es_diumenge{ color: #666666; background-color: #c2c2c2; }
td.seleccionat{ box-shadow: inset 0 0 0 1px #333333; }
