body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	background: #f8f8f8;
	}
a:link{ color: #999900; text-decoration: none; }
a:visited{ color: #999900; text-decoration: none; }
a:active{ color: #cccc00; text-decoration: none; }
a:hover{ color: #cccc00; text-decoration: none; }

.general{
	background-color: #transparent;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
   }

header{
	display: flex;
	margin: 0;
	padding: 20px 0;
	clear: both;
}

main{
	margin: 0 auto;
	padding: 0;
}
 
article{
	display: flex;
	gap: 20px;
	margin: 0;
	padding: 0;
}
article div{
	flex: 1;
}

.codi{
	font-size: 12px;
	line-height: 20px;
	color: #336699;
}
	
hr{
	width: 100%;
	border: none;
	height: 1px;
	background-color: #bbbbbb;
	clear: both;
}